*.mobi
genmobi.sh
.libs
*.swp
*.slo
*.la
*.swo
*.lo
*~
*.o
print.txt
.rsync
*.tar.gz
dist
build[789]
build
build10
tags
update-readme
*.tmp
go
t/t.sh
releng
reset
*.t_
ctags
src/stream.h
nginx
keepalive
reindex
src/module.[ch]
all
t/servroot/
buildroot/
build1[0-9]
re
*.plist
Makefile
src/script.[ch]
src/parse.[ch]
src/util.[ch]
*.patch
